body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.grid-item {
  padding: 4px;
  .card {
    position: relative;
    object-fit: contain;
    .bg {
      width: auto;
    }
    .hak {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
main {
  section {
  }
}
